In [1]:
from keras.models import load_model
import numpy as np

2023-05-23 15:26:40.504386: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-05-23 15:26:41.323289: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-05-23 15:26:41.326124: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-05-23 15:26:49.058161: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
model = load_model("/home/mwaniki-new/Documents/deep_learning/Cats_Dogs/src/Model/model.h5")
X_test_on_disk = np.load("/home/mwaniki-new/Documents/deep_learning/Cats_Dogs/X_test.npy", mmap_mode='r')

2023-05-23 15:27:23.212253: E tensorflow/compiler/xla/stream_executor/cuda/cuda_driver.cc:266] failed call to cuInit: CUDA_ERROR_UNKNOWN: unknown error

In [3]:
test_pred = model.predict(X_test_on_disk)

2023-05-23 15:28:54.708053: W tensorflow/tsl/framework/cpu_allocator_impl.cc:83] Allocation of 2160000000 exceeds 10% of free system memory.

391/391 [==============================] - 70s 148ms/step

In [4]:
print(test_pred[2])

[0.96644443]

In [5]:
test_pred.shape

(12500, 1)

In [6]:
import pandas as pd

df = pd.read_csv("/home/mwaniki-new/Documents/sample_submission.csv")

df['label'] = test_pred

df.to_csv("/home/mwaniki-new/Documents/sample_submission.csv", index=False)

In [8]:
df.head(50)

    id     label
0    1  0.848700
1    2  0.999449
2    3  0.966444
3    4  0.976474
4    5  0.660209
5    6  0.194523
6    7  0.505757
7    8  0.393039
8    9  0.977001
9   10  0.944580
10  11  0.795425
11  12  0.361899
12  13  0.543534
13  14  0.235260
14  15  0.992924
15  16  0.974087
16  17  0.999546
17  18  0.998671
18  19  0.948663
19  20  0.051687
20  21  0.740161
21  22  0.187194
22  23  0.118239
23  24  0.066954
24  25  0.654794
25  26  0.980299
26  27  0.999845
27  28  0.680966
28  29  0.516430
29  30  0.992488
30  31  0.178238
31  32  0.836277
32  33  0.004579
33  34  0.216515
34  35  0.999928
35  36  0.026792
36  37  0.782242
37  38  0.652819
38  39  0.603679
39  40  0.386036
40  41  0.513608
41  42  0.315162
42  43  0.625291
43  44  0.571487
44  45  0.817266
45  46  0.524024
46  47  0.983319
47  48  0.736064
48  49  0.411182
49  50  0.590745

In [9]:
df['label'] = df['label'].round()
df.head(20)

    id  label
0    1    1.0
1    2    1.0
2    3    1.0
3    4    1.0
4    5    1.0
5    6    0.0
6    7    1.0
7    8    0.0
8    9    1.0
9   10    1.0
10  11    1.0
11  12    0.0
12  13    1.0
13  14    0.0
14  15    1.0
15  16    1.0
16  17    1.0
17  18    1.0
18  19    1.0
19  20    0.0

In [10]:
df.to_csv("/home/mwaniki-new/Documents/sample_submission.csv", index=False)